<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%=content1%> </p>

<% newPosts.forEach(function(newPost){ %>
  <h1> <%= newPost.title %>  </h1>
  <p> <%= newPost.content.substring(0, 100) + " ... " %> <a href= "/posts/<%= newPost.title %>" >Read More</a></p>
<% }) %>

<%- include("partials/footer"); -%>
